/* ========= Google Font Add ===========  */

:root {
    --primary-color: #3dcfd3;
    --secondary-color: #070606;
    --p-color: #898989;
    --gray-color: #f2f2f2;
    --white--color: #ffffff;

    --lato: 'Lato', sans-serif;
    --poppins: 'Poppins', sans-serif;


}

/* ========= GlobalStyle Part Start ===========  */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--poppins);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.col-2 {
    width: 16.66%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-9 {
    width: 75%;
    padding: 0 15px;
}

.col-12 {
    width: 100%;
    padding: 0 15px;
}



a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white--color);
}

ul {
    list-style: none;
}



section {
    padding: 80px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--poppins);
}

p {
    font-family: var(--lato);
    font-size: 1.6rem;
    font-weight: 400;
    color: darkgrey;

}

h1,h2,p{
    margin-bottom:15px;
}


.sectionHeading {}


.sectionParagraph {}



/* ========= Header Part Start ===========  */




/* ========= Header Part Start ===========  */
/* ========= Header Part Start ===========  */
/* ========= Header Part Start ===========  */
/* ========= Header Part Start ===========  */
/* ========= Header Part Start ===========  */
/* ========= Header Part Start ===========  */
/* ========= Header Part Start ===========  */